@model SeaWars.Server.Models.Game

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@($"Game #{@Model.Id}")</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
    
    <div class="battle">
        <span class="whom-label">@($"Текущий ход: #{Model.Turn}")</span>
        <div class="history" style="margin-top: 60px">
            <span class="whom-label">История ходов</span>
            <ul style="margin-top: 50px;">
                
            @foreach (var turn in Model.TurnsHistory)
            {
                <li style="cursor: pointer;">
                    @Html.RouteLink($"Ход #{turn.Id + 1}", "gameTurn", new RouteValueDictionary(new
                                                                                                {
                                                                                                    id = Model.Id,
                                                                                                    turn = turn.Id + 1
                                                                                                }), null)
                </li>
            }
            </ul>
        </div>
        <div class="section" id="player1">
            <span class="whom-label">@($"{Model.Participant1.Name} (ID {Model.Participant1.Id})")</span>
            <div class="fieldArea">

                @{var participant1RowNumber = 0;}
                @foreach (var row in Model.Participant1Field)
                {
                    foreach (var col in row.Cells)
                    {
                        <div class="battlefield-cell"
                             style="height: 50px; width: 50px; margin-left: @(col.Number * 50 + 2)px; margin-top: @(participant1RowNumber * 50 + 2)px"
                             data-value="@col.State"
                             data-row="@participant1RowNumber"
                             data-column="@col.Number">
                        </div>
                    }
                    participant1RowNumber++;
                }
            </div>
        </div>
        <div class="section" id="player2">
            <span class="whom-label">@($"{Model.Participant2.Name} (ID {Model.Participant2.Id})")</span>
            <div class="fieldArea">
                @{var participant2RowNumber = 0;}
                @foreach (var row in Model.Participant2Field)
                {
                    foreach (var col in row.Cells)
                    {
                        <div class="battlefield-cell"
                             style="height: 50px; width: 50px; margin-left: @(col.Number * 50 + 2)px; margin-top: @(participant2RowNumber * 50 + 2)px"
                             data-value="@col.State"
                             data-row="@participant2RowNumber"
                             data-column="@col.Number">
                        </div>
                    }
                    participant2RowNumber++;
                }
            </div>
        </div>
        
    </div>
    <script>
    </script>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>