@model SeaBattle.Server.Models.PlayersStatistics

@{
    ViewData["Title"] = "Рейтинговая таблица";
}

<h3 style="text-align: center">Рейтинговая таблица участников</h3>
<div style="width: 100%; height: 100%; margin: 0 auto">
    <table style="width: 100%; border: 1px solid black">
        <tr>
            <th style="border: 1px solid black; text-align: center">Место</th>
            <th style="border: 1px solid black; text-align: center">Id</th>
            <th style="border: 1px solid black; text-align: center">Имя</th>
            <th style="border: 1px solid black; text-align: center">Рейтинг</th>
            <th style="border: 1px solid black; text-align: center">Всего игр</th>
            <th style="border: 1px solid black; text-align: center">Побед</th>
            <th style="border: 1px solid black; text-align: center">Поражений</th>
        </tr>
        @foreach (var playerStat in Model.Stats)
        {
            <tr>
                <td style="border: 1px solid black; text-align: center">@playerStat.Position</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.Id</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.Name</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.Rating.ToString("F2")</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.GamesCount</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.WinsCount</td>
                <td style="border: 1px solid black; text-align: center">@playerStat.LossesCount</td>
            </tr>
        }
    </table>
</div>